{{#>layout}}

    <div class="container">

        <div class="six columns">
            <div class="card">
                <h2>Login</h2>
                <p>Login to an existing account</p>
                {{>login-form}}
            </div>
        </div>

        <div class="six columns">
            <div class="card">
                <h2>Sign Up</h2>
                <p>Create a new account</p>
                {{>signup-form}}
            </div>
        </div>

    </div>

    <script async src="/assets/js/facebook-login.js"></script>

{{/layout}}