<section class="header">
    <div class="container">
        <div class="three columns">
            <a href="/">
                <b class="app-name">Burrow</b>
            </a>
        </div>
        <nav class="nine columns">
            <ul class="navbar-list">
                {{#if user.name}}
                    <li class="navbar-item">{{user.name}} <a href="/logout">Logout</a></li>
                {{else}}
                    <li class="navbar-item"><a href="/login">Login / Signup</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</section>