<!--
<a href="https://www.facebook.com/v2.10/dialog/oauth?client_id={{FB_APP_ID}}&redirect_uri={{SOCIAL_LOGIN_REDIRECT}}&response_type=code">Create an account with Facebook</a>
-->

<form action="/api/v1/signup" method="post">
    <div>
        <label for="name">Name<label>
        <input required name="name" id="name" placeholder="Name" type="text">
    </div>

    <div>
        <label for="emailAddress">Email Address<label>
        <input required name="emailAddress" id="emailAddress" placeholder="Email Address" type="email">
    </div>

    <div>
        <label for="password">Password<label>
        <input required name="password" id="password" placeholder="Password" type="password">
    </div>

    <div>
        <label for="confirmPassword">Password<label>
        <input required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" type="password">
    </div>

    <button class="primary" type="submit">Submit</button>
</form>
