.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee8d5;
    z-index: 10;
}

.header a .app-name {
    font-size: 1.5em;
    line-height: 64px;
}

.header nav {
    float: right;
}

.header .navbar-list {
    list-style: none;
    text-align: right;
    line-height: 4em;
    margin-bottom: 0;
    line-height: 64px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
}

.header .navbar-item {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: 0;
}

.header button {
    padding: 0 15px;
}
