.header {
    background: #eee8d5;
    margin-bottom: 3em;
}

.header a .app-name {
    font-size: 1.5em;
    line-height: 64px;
}

.header nav {
    float: right;
}

.header .navbar-list {
    list-style: none;
    text-align: right;
    line-height: 4em;
    margin-bottom: 0;
    line-height: 64px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
}

.header .navbar-item {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: 0;
}
